{% extends "base.html" %}


{% block title %}
  {{ 'All Authors' | lookup_translation(DEFAULT_LANG) }}
{% endblock %}


{% block top_center %}
  <h1>
      <a href="{{ SITEURL }}/{{ relpath_to_site(main_lang, main_lang) }}/{{ AUTHORS_SAVE_AS }}" rel="bookmark" title="Permalink to author list">{{ 'Authors' | lookup_translation(DEFAULT_LANG) }}</a>
  </h1>
{% endblock %}


{% block content %}

  {% set all_authors = [] %}
  {% for author, articles in authors %}
    {% if all_authors.append({'name': author.name, 'url': author.url, 'articles': articles|length()}) %}{% endif %}
  {% endfor %}

  <dl class="dl-horizontal">
    {% for author in all_authors|sort(reverse = True, attribute = 'articles') %}
      <dt><a href="{{ SITEURL }}/{{ relpath_to_site(main_lang, main_lang) }}/{{ author.url }}" class="label label-info">{{ author.name }}</a></dt>
      <dd><a href="{{ SITEURL }}/{{ relpath_to_site(main_lang, main_lang) }}/{{ author.url }}">{{ author.articles }} {{ ('article' 's' if author.articles > 1 else '') | lookup_translation(DEFAULT_LANG)}}</a></dd>
    {% endfor %}
  </dl>

{% endblock %}
