{% macro render_tag(tag) -%}
  <a href="{{ SITEURL }}/{{ relpath_to_site(main_lang, main_lang) }}/{{ tag.url }}" data-toggle="tooltip"
      class="label label-default"
      title="{{ tag.articles }} {{ ('article' 's' if article_counter > 1 else '') | lookup_translation(DEFAULT_LANG)}} {{ 'with this tag' | lookup_translation(DEFAULT_LANG) }}">{{ tag.name }}</a>
{%- endmacro %}

{% macro render_link_icon(link, label, main_siteurl, favicon=True) -%}
  {% set favicon = False if favicon == False else True %}
  {% set protocol = link.split(':', 1)[0] %}
  {% set ns = namespace(icon = '404.png') %}

  {% if protocol == 'mailto' %}
    {% set ns.icon = 'envelope.png' %}
  {% elif protocol.startswith('http') %}
    {% set domain = link.split('%s://' % protocol, 1)[1].split('/', 1)[0] %}
    {# TODO: use original icon-finder logic using self-hosted besticon
      (https://github.com/mat/besticon) #}
    {% set SITE_FAVICONS_AVAILABLE = {
        'getpelican.com': 'getpelican.com.ico',
        'github.com': 'github.com.ico',
        'gitlab.com': 'gitlab.com.png',
        'python.org': 'python.org.ico'
      }
    %}

    {% for (site_domain, site_favicon) in SITE_FAVICONS_AVAILABLE.items() %}
      {% if domain.startswith(site_domain) %}
        {% set ns.icon = site_favicon %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <a href="{{ link }}">
    <img src="{{ main_siteurl }}/theme/favicons/{{ ns.icon }}" width="16" height="16" class="icon" alt="{{ domain }} icon"/>
    {{ label }}
  </a>
{%- endmacro %}
